<%- include('partials/header') -%>
<!-- <%- include('partials/mapquestApi') -%> -->

  <div class="container bg-base-300 pb-10">
    <div class="row justify-content-center mt-5">
      <h2 class="font-bold mt-10 pl-10 pb-10 text-5xl">All past trips</h2>
      <!-- <div class="m-40px">
        <input type="search" id="search-input" placeholder="Start Searching..." />
      </div> -->
      <!-- <div class="card card-compact w-3/5 bg-base-100 z-10 m-3">
        <div id="map" style="width: 100%; height: 530px;"></div>
      </div> -->
      <ul class="row list-unstyled">
        <% for(var i=0; i < posts.length; i++) { %>
            <a href="/post/<%= posts[i]._id %>">
              <li class="card card-compact w-96 bg-base-100 shadow-xl m-3">
                <figure class="pt-3"><img src="<%= posts[i].image%>" alt=" Image of hostel" /></figure>
                <div class="card-body">
                  <h2 class="card-title">
                    <%= posts[i].hostelName %>
                  </h2>
                  <p>
                    <%= posts[i].city %>
                  </p>
                  <p>Reviewed by: 
                    <%= posts[i].user.userName %> </p>
                      <div class="card-title text-3xl justify-end">
                        <% if(posts[i].quickReview=="Yah" ){ %>
                          <span class="fa fa-thumbs-up"></span>
                          <% } else { %>
                            <span class="fa fa-thumbs-down"></span>
                            <% } %>
                      </div>
                </div>
            </a>
          
        <% } %>
      </ul>
    </div>
  </div>
  <%- include('partials/footer') -%>