<%- include('partials/header') -%>
    <div class=" min-h-400 pb-10">
      <div class="mt-5 row justify-content-center">
        <h2 class="font-bold mt-10 pl-10 pb-10  text-5xl">My past trips</h2>
        
        <ul class="row list-unstyled">
          <% for(var i=0; i < posts.length; i++) {%>
            <% if(posts.user !=user.id) { %>
              <% pastTripsList ++ %>
              <li class="card card-compact w-96 bg-base-100 shadow-xl m-3">
                <a href="/post/<%= posts[i]._id %>">
                    
                    <div class="card-body">
                      <h2 class="card-title">
                        <%= posts[i].hostelName %>
                      </h2>
                      <p>
                        <%= posts[i].city %>
                      </p>
                      <figure class="pt-3"><img src="<%= posts[i].image%>"" alt=" Image of hostel" /></figure>
                      <div class="card-title text-3xl justify-end">
                        <% if(posts[i].quickReview=="Yah" ){ %>
                          <span class="fa fa-thumbs-up"></span>
                          <% } else { %>
                            <span class="fa fa-thumbs-down"></span>
                            <% } %>>
                      </div>
                    </div>
                </a>
              </li>
            <% } %>
          <% } %>
          <% if(pastTripsList==0) {%>
            <div class="hero  min-h-300" style="background-image: url(https://placeimg.com/1000/800/arch);">
              <div class="hero-overlay bg-opacity-60"></div>
              <div class="hero-content text-center text-neutral-content">
                <div class="max-w-md">
                  <h1 class="mb-5 mt-5 text-5xl font-bold">Uh oh</h1>
                  <p class="mb-5 text-lg">You don't have any past trips added yet. Time to toss a dart at a map and go
                    find an adventure! Don't forget to pack your passport and some snacks.</p>
                  <a href="/addTrip"><button class="btn mb-5 md:btn-md lg:btn-lg btn-accent">Add a
                      trip</button></a>
                </div>
              </div>
            </div>
          <% } %> 
                        
        </ul>
      </div>
    </div>

    <%- include('partials/footer') -%>